.edit_account {
  display: flex;
  background: white;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

.edit_account_container {
  display: flex;
  font-family: "Dosis", sans-serif;
  background: #f8f9fa;
  overflow: hidden;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
}

/*
 * ─── EDIT ACCOUNT GENERAL INFO ──────────────────────────────────────────────────
 */

.edit_account_general_info {
  max-width: 1040px;
  width: 100%;
  padding-top: 60px;
}

.edit_account_general_info h2 {
  background: #f39c11;
  color: white;
  padding: 10px;
}

.edit_account_general_info_border {
  padding-top: 40px;
  border: 1px solid #dbdbdb;
  background: #ffffff;
}

.edit_account_input_holder {
  display: flex;
}

.edit_account_input_holder {
  display: flex;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.edit_account_input_holder label {
  display: inline-block;
  color: #dbdbdb;
  width: 200px;
  padding-left: 10px;
}

.edit_account_input_holder input {
  color: #dbdbdb;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
}

.edit_account_input_holder input:focus {
  outline: none;
}

.edit_account_button_holder {
  display: flex;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  justify-content: flex-end;
}

.edit_account_button_holder button {
  background: #f39c11;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  color: white;
  font-size: 14px;
  transition: 0.5s;
}

.edit_account_button_holder button:hover {
  background: #e29110;
}

/*
 * ─── EDIT PROFILE PHOTO ─────────────────────────────────────────────────────────
 */

.edit_account_photo {
  max-width: 500px;
  width: 100%;
  padding-top: 60px;
}

.edit_account_photo h2 {
  background: #f39c11;
  color: white;
  padding: 10px;
}

.edit_account_photo_border {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid #dbdbdb;
  background: #ffffff;
  height: 426px;
}

.edit_account_photo_border img {
  position: absolute;
}

.edit_account_photo_input_holder {
  display: flex;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #e29110;
  justify-content: center;
  align-items: center;
}

.edit_account_photo_input_holder img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  z-index: 2;
}

.edit_account_photo_input_holder input {
  width: 300px;
  height: 300px;
  z-index: 10;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.edit_account_photo_input_holder i {
  font-size: 70px;
  color: #cd850d;
  cursor: pointer;
}
