.dashboard {
  width: 100%;
  background: white;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard_container {
  width: 100%;
  font-family: "Dosis", sans-serif;
  background: #f8f9fa;
  background: red;
  overflow: hidden;
}
