.add_page {
    width: 100%;
    background: white;
}

.add_page_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background: #f8f9fa;
    margin-top: 50px;
    /* height: 1000px; */
    overflow: scroll;
    overflow-x: hidden;
}

/*
 * ─── GENERAL INFO ───────────────────────────────────────────────────────────────
 */

.general_info {
    border: 1px solid #e8e9e9;
    width: 1000px;
    height: 300px;
    background: white;
}

.general_info form {
    display: flex;
}

.general_info h2 {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 700;
    font-family: "Dosis", sans-serif;
    color: #212529;
    background: #00c0ef;
    color: white;
}

/*
 * ─── PROJECT PHOTO ──────────────────────────────────────────────────────────────
 */

.project_photo h2 {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 700;
    font-family: "Dosis", sans-serif;
    color: #212529;
    background: #00c0ef;
    color: white;
}

.project_photo {
    width: 500px;
    height: 650px;
    height: 300px;
    border: 1px solid #e8e9e9;
    background: white;
    border-radius: 10px;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #00c0ef;
    margin: 0 auto;
    margin-top: 25px;
    cursor: pointer;
}

.photo i {
    color: #00a1cb;
    font-size: 80px;
}

.photo:hover {
    background: #09b4df;
}

.photo input {
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    padding: 50px;
    cursor: pointer;
    opacity: 0;
}

/*
 * ─── PROJECT DESCRIPTION ────────────────────────────────────────────────────────
 */

.project_description {
    margin-top: 50px;
    width: 1565px;
    height: 462px;
    /* height: 800px; */
}

.project_description h2 {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 700;
    font-family: "Dosis", sans-serif;
    color: #212529;
    background: #00c0ef;
    color: white;
}

/*
 * ─── FORM ───────────────────────────────────────────────────────────────────────
 */

.input_holder {
    display: flex;
    padding: 20px;
    align-items: baseline;
    justify-content: space-between;
}

.input_holder label {
    color: #dbdbdb;
    font-weight: 500;
    font-family: "Dosis", sans-serif;
}

/* input */

.input_holder input {
    padding: 10px;
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
}

.input_holder input::placeholder {
    color: #dbdbdb;
    font-weight: 500;
    font-family: "Dosis", sans-serif;
}

.input_holder input:focus {
    outline: none;
}

/* select list */

.input_holder select {
    max-width: 300px;
    width: 100%;
    padding: 10px;
    background: #00c0ef;
    border: none;
    border-radius: 10px;
    color: white;
}

.input_holder select:focus {
    outline: none;
}

.quill {
    height: 800px !important;
    border: none;
    padding-bottom: 70px !important;
}

.ql-snow .ql-editor img {
    width: 50%;
    height: auto !important;
}

.ql-editor {
    background: white;
}